@import "tailwindcss";

@theme {
  /* Colors */
  --color-purple-custom: #6c40b5;
  --color-gray-custom: #666666;
}

body {
  color: black;
  width: 100dvw;
  height: 100%;
  background: white;
  user-select: none;
}
.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1280px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
